* {
    user-select: text !important;
}

html,
body {
    overscroll-behavior-x: none;
}

.intercom-launcher-frame,
.intercom-launcher-badge-frame {
    z-index: 1040 !important;
}

.cke {
    visibility: hidden;
}

.async-hide {
    opacity: 0 !important;
}

#answer-panel.attack_modal_m_sprite {
    width: 350px !important;
}

.ui.modal p {
    white-space: unset !important;
}